.heading{
    color: aqua;
    width: 200px;
    position: relative;
}
.heading1{
    width: 200px;
    text-align: center;
    position: relative;
    left: 45%;
}
#awsomeButton{
    text-align: center;
}
#AButton{
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    left: 45%;
}
p{
    text-align: center;
}
#opinion{
    border: 2px solid;
    width: 200px;
    margin: auto;
}
#centering{
    text-align: center;
}